<%@include file="header.jsp"%>
<title>Bulk FD Creation</title>
<style>
.file-upload {display: block;text-align: center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}	
.file-upload .file-select {
display: block;
border: 2px solid #F3A545;
color: #fff;
cursor: pointer;
height: 40px;
line-height: 40px;
text-align: left;
background: #FFFFFF;
overflow: hidden;
position: relative;
}	
.file-upload .file-select .file-select-button {background: #F3A545;padding: 0 20px;display: inline-block;height: 40px;line-height: 40px;}	
.file-upload .file-select .file-select-name {line-height: 40px;display: inline-block;padding: 0 10px;color: #1b1464;}	
.file-upload .file-select:hover {border-color: #F3A545;transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-webkit-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;}	
.file-upload .file-select:hover .file-select-button {
background: #F3A545;
color: #FFFFFF;
transition: all .2s ease-in-out;
-moz-transition: all .2s ease-in-out;
-webkit-transition: all .2s ease-in-out;
-o-transition: all .2s ease-in-out;
}	
.file-upload.active .file-select {
border-color: #F3A545;
transition: all .2s ease-in-out;
-moz-transition: all .2s ease-in-out;
-webkit-transition: all .2s ease-in-out;
-o-transition: all .2s ease-in-out;
}	
.file-upload.active .file-select .file-select-button {
background: #F3A545;
color: #FFFFFF;
transition: all .2s ease-in-out;
-moz-transition: all .2s ease-in-out;
-webkit-transition: all .2s ease-in-out;
-o-transition: all .2s ease-in-out;
}	
.file-upload .file-select input[type=file] {
z-index: 100;
cursor: pointer;
position: absolute;
height: 100%;
width: 100%;
top: 0;
left: 0;
opacity: 0;
filter: alpha(opacity = 0);
}	
.file-upload .file-select.file-select-disabled {opacity: 0.65;}	
.file-upload .file-select.file-select-disabled:hover {
cursor: default;
display: block;
border: 2px solid #dce4ec;
color: #34495e;
cursor: pointer;
height: 40px;
line-height: 40px;
margin-top: 5px;
text-align: left;
background: #FFFFFF;
overflow: hidden;
position: relative;
}	
.file-upload .file-select.file-select-disabled:hover .file-select-button{
background: #dce4ec;
color: #666666;
padding: 0 10px;
display: inline-block;
height: 40px;
line-height: 40px;
}	
.file-upload .file-select.file-select-disabled:hover .file-select-name {line-height: 40px;display: inline-block;padding: 0 10px;}	
.not {margin: 20px 0px;clear: both;}	
.not1 {margin: 15px 0px 15px 0px;clear: both;}
.otp-input {
font-size: 20px;   
margin-left: 0px; 
width: 85px;
padding-left: 5px;
padding-right: 5px;
border: 0px;
border-bottom-color: currentcolor;
border-bottom-style: none;
border-bottom-width: 0px;
letter-spacing: 3px;
border-bottom: 1px solid;
outline: 0px solid;
}
</style>

<div class="content-wrapper">
	<section class="content">		
		<div class="row">
			<div class="col-xs-12 col-md-12 col-sm-12 ">
				<div class="box">
					<div class="box-header" style="border-bottom: 1px solid #E2E5EC;">	
						<h4 class="box-title col-md-6" style="padding-top: 8px;color:#1b1464"><b>Bulk Finbus FD Create</b></h4>
					</div>
					<div class="nav-tabs-custom">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#tab_2" data-toggle="tab"><b>Bulk FD Create<span class="red"></span></b></a></li>
							<li><a href="#tab_3" data-toggle="tab"><b>Failed</b></a></li>
						</ul>
					
						<div class="tab-content">
							<div class="tab-pane active" id="tab_2">					
								<div id="individual" onload="myFunction()">	
									<section class="content">
										<div class="row">
											<div class="col-md-8">
												<div class="box ">
													<div class="" style="padding: 2%;">
														<div class="box-header with-border">
															<h3 style="display: inline-block;"><b style="font-weight: 500;">Bulk Finbus FD Creation</b>
															<a class="sp-color2" style="font-size: 14px;" href="<c:url value="resources/dist/bulk/Bulk_FD_Create.xlsx"/>"><b>Download Template</b></a>
															</h3>
														</div>
													
														<form role="form" method="POST" action="finbusfdcreate.html" enctype="multipart/form-data" onsubmit="return validateForm();">
															<div class="col-md-12 regist-note not">
																<p><b>NOTE:</b></p>	
																<ul>					
																	<li>Supported file format is XLSX.</li>
																	<li>FD Date should be entered in either DD/MM/YYYY or DD-MM-YYYY format.</li>
																	<li>FD Date column allows previous/post dates upto 1month (Ex: Current Date : 28/05/2019, FD Date column can hold predated (28/04/2019) or postdated (28/06/2019) values).</li>
																	<li>Payout column is case-sensitive. Values should be Monthly/Yearly/Cumulative</li>
																</ul>	
															</div>
															
															<div class="error_msg ">
																<c:if test="${not empty message}">								
																	<label class="control-label red-error" for="inputError"><i class="fa fa-times-circle-o"></i> <c:out value="${message}" /></label>
																</c:if>
															</div>							
														
															<div class="file-upload col-md-8 not1" style="padding: 0px;">
																<div class="file-select">
																	<div class="file-select-button" id="fileName">Upload File</div>
																	<div class="file-select-name" id="noFile"><b>No file chosen...</b></div>
																	<input type="file" name="file" id="chooseFile" accept=".xlsx">
																</div>
															</div>
														
															<div class="box-footer" style="padding-left: 0px; clear: both;">
																<button type="submit" id="content" class="btn btn-spark btn-flat">Proceed</button>
															</div>
														</form>					
													</div>
												</div>
											</div>	
										</div>	
									</section>
								</div>							
							</div>
							
							<div class="tab-pane" id="tab_3">
								<table id="example3" class="table table-bordered table-striped  dt-responsive">
									<thead>
										<tr>
											<th>S.No</th>
											<th>Id</th>
											<th>Customer Id</th>
											<th>Tenure</th>
											<th>Payout</th>
											<th>Referral Code</th>
											<th>OldFD Amount</th>
											<th>Topup Amount</th>
											<th>Final Amount</th>
											
											<th>Status</th>
											<th>Reason</th>
											<th>Action</th>
										</tr>
									</thead>
									
									<tbody>
										<c:forEach items="${preFinbusCreationList}" var="viewObj" varStatus="status">
											<tr>
												<td><c:out value="${status.index +1}" /></td>
												<td><c:out value="${viewObj.id}" /></td>
												<td><c:out value="${viewObj.customerID}" /></td>
												<td><c:out value="${viewObj.tenure}" /></td>
												
												<c:if test="${viewObj.payout eq 1 }">
												<td><c:out value="Monthly" /></td>
												</c:if>
												
												<c:if test="${viewObj.payout eq 12 }">
												<td><c:out value="Yearly" /></td>
												</c:if>
												
												<c:if test="${viewObj.payout eq 24 }">
												<td><c:out value="Cumulative" /></td>
												</c:if>
												
												<c:if test="${viewObj.payout eq 36 }">
												<td><c:out value="Cumulative" /></td>
												</c:if>
												
												<c:if test="${viewObj.payout eq 48 }">
												<td><c:out value="Cumulative" /></td>
												</c:if>
												
												<c:if test="${viewObj.payout eq 60 }">
												<td><c:out value="Cumulative" /></td>
												</c:if>
												
												<c:if test="${viewObj.payout eq 72 }">
												<td><c:out value="Cumulative" /></td>
												</c:if>
												
												<c:if test="${viewObj.payout eq 84 }">
												<td><c:out value="Cumulative" /></td>
												</c:if>
												
												<c:if test="${viewObj.payout eq 96 }">
												<td><c:out value="Cumulative" /></td>
												</c:if>
												
												<c:if test="${viewObj.payout eq 108 }">
												<td><c:out value="Cumulative" /></td>
												</c:if>
												
												<td><c:out value="${viewObj.referralCode}" /></td>
												<td><fmt:formatNumber type = "number" maxFractionDigits ="2" value="${viewObj.oldFDAmount}" /></td>
												<td><fmt:formatNumber type = "number" maxFractionDigits ="2" value="${viewObj.topupAmount}" /></td>
												<td><fmt:formatNumber type = "number" maxFractionDigits ="2" value="${viewObj.finalAmount}" /></td>
												
												<td><c:out value="${viewObj.status}" /></td>
												<td><c:out value="${viewObj.reason}" /></td>
												
												<c:if test="${viewObj.status eq 'Rejected'}">
													<td>
													<a href="updateFdDetails.html?id=${viewObj.id}" class="sp-color2 editp" data-toggle="tooltip" title="Edit Record" id="updateFd">
														<strong><span class="glyphicon glyphicon-edit"></span></strong>
													</a>
												</td>			
												</c:if>
												
												<c:if test="${viewObj.status  ne 'Rejected'}">
												<td></td>
												</c:if>
												
											</tr>
										</c:forEach> 
									</tbody>
								</table>
							</div>
						</div>			            
					</div>					
				</div>
			</div>
		</div>	
	</section>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" role="document">
		<img class="modal1-content" style="width:80px;height:80px;margin-top:200px" src="<c:url value="/resources/img/ajax_loader_gray_512.gif"/>">  
	</div>
</div>
<%@include file="footer.jsp"%>

<script>
$('#chooseFile').bind('change', function() {
var filename = $("#chooseFile").val();
if (/^\s*$/.test(filename)) {
$(".file-upload").removeClass('active');
$("#noFile").text("No file chosen...");
} else {
$(".file-upload").addClass('active');
$("#noFile").text(filename.replace("C:\\fakepath\\", ""));
}
});

var uploadField = document.getElementById("chooseFile");
uploadField.onchange = function() {
if(this.files[0].size > 10000000){
alert("File size is too big!, Please upload below 10MB size");
this.value = "";
};
};

function validateForm() {
if($("#chooseFile").val() == ''){
alert("Please Upload valid xl file");
return false;
}

$("#myModal").modal('show');
}
</script>